*{margin:0;padding:0;box-sizing:border-box}
body{font-family:Poppins,sans-serif;background:linear-gradient(180deg,#09090b,#18181b);color:#fff}
header{position:fixed;top:0;width:100%;display:flex;justify-content:space-between;align-items:center;padding:18px 8%;background:rgba(9,9,11,.75);backdrop-filter:blur(10px)}
.logo{font-family:Quicksand,sans-serif;font-size:28px;color:#f472b6}
nav a{text-decoration:none;color:#ddd;margin-left:18px}
nav a:hover{color:#a855f7}
.hero-button{

margin-top:30px;

display:flex;

gap:20px;

flex-wrap:wrap;

}

.button2{

background:transparent;

border:2px solid #A855F7;

color:white;

padding:12px 25px;

border-radius:30px;

text-decoration:none;

transition:.3s;

}

.button2:hover{

background:#A855F7;

}
.hero img{width:300px;border-radius:50%;border:4px solid #a855f7;box-shadow:0 0 40px rgba(168,85,247,.5)}
.hello{color:#f472b6}
h1{font-size:56px;font-family:Quicksand,sans-serif}
h1 span{color:#a855f7}
#typing{color:#60a5fa;height:35px}
.desc{margin:20px 0}
.button{display:inline-block;background:#a855f7;color:#fff;padding:12px 24px;border-radius:30px;text-decoration:none}
section{padding:80px 8%}
h2{font-family:Quicksand,sans-serif;margin-bottom:20px}
.cards{display:grid;grid-template-columns:repeat(auto-fit,minmax(180px,1fr));gap:20px}
.card{background:rgba(255,255,255,.05);border:1px solid rgba(255,255,255,.1);padding:20px;border-radius:18px;backdrop-filter:blur(8px);transition:.3s}
.card:hover{transform:translateY(-6px)}
.badges{display:flex;flex-wrap:wrap;gap:12px}
.badges span{padding:10px 16px;background:#1e1b4b;border-radius:999px}
.timeline{list-style:none}
.timeline li{margin:16px 0;padding-left:10px;border-left:3px solid #a855f7}
footer{text-align:center;padding:30px;background:#111}
.contact-links{
    display:flex;
    flex-wrap:wrap;
    gap:15px;
    margin-top:20px;
}

.contact-links a{
    text-decoration:none;
    color:white;
    background:rgba(255,255,255,.08);
    padding:12px 20px;
    border-radius:30px;
    transition:.3s;
    border:1px solid rgba(255,255,255,.1);
}

.contact-links a:hover{
    background:#a855f7;
    transform:translateY(-3px);
}
@media(max-width:768px){.hero{flex-direction:column-reverse;text-align:center}.hero img{width:200px}header{flex-direction:column;gap:10px}}
